@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans CJK KR Regular'), local('Noto Sans CJK KR-Regular'), local('NotoSansCJKKR Regular');
  src: url(~/assets/font/NotoSans-Regular.eot);
  src: url(~/assets/font/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
  url(~/assets/font/NotoSans-Regular.woff) format('woff'),
  url(~/assets/font/NotoSans-Regular.otf) format('truetype');
}
@import url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css');

#navbar-font {
  font-family: 'BM JUA', '배달의민족 주아';
  font-weight: normal;
  font-size: 105%;
}

* {

  font-family: 'Noto Sans';
  font-weight: 400;

  .footer {
    font-weight: 300;
    font-size: 95%;
  }
}