@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css');

#navbar-font {
  font-family: 'BM JUA', '배달의민족 주아';
  font-weight: normal;
  font-size: 105%;
}

html body {
  font-family: 'Noto Sans';
  font-weight: 400;

  .footer {
    font-weight: 300;
    font-size: 95%;
  }
}